@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    margin: 0;
    background-color: #f4f4f9; /* Light background for default mode */
    color: #333;
    transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transitions */
  }

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}


section{
    width: 100%;
    height: 100vh;
}

section nav {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    right: 0;
    left: 0;
    background: #d9ebf7;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    z-index: 10; 
    padding: 10px 80px;;
}

section nav .logo img{
    width: auto;
    height: 35px;
    object-fit: contain;
    cursor: pointer;
    display: block;
}


section nav ul{
    list-style: none;
}

section nav ul li{
    display: inline-block;
    margin: 0 15px;
}

section nav ul li a{
    text-decoration: none;
    color: #5c5db0;
    font-weight: bold;
    font-size: 17px;
    transition: 0.1s;
}

section nav ul li a::after{
    content: '';
    width: 0;
    height: 2px;
    background: #ff3f34;
    display: block;
    transition: 0.2s linear;
}

section nav ul li a:hover::after{
    width: 100%;
}

section nav ul li a:hover{
    color: #ff3f34;
}

section nav .icon i{
    font-size: 18px;
    color: #5c5db0;
    margin: 0 5px;
    cursor: pointer;
    transition: 0.3s;
}

section nav .icon i:hover{
    color: #ff3f34;
}

section .main{
    width: 100vw;
    height: 100vh;
    background: url(./Images/Header.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: flex-start;

}

section .main_text {
    margin-bottom: 60px;
    color: #5c5db0;
    text-align: left;
    margin-left: 100px;
    padding-left:0px;
    flex-direction: column;
    justify-content: flex-start;
}

section .main .main_text h2{
    font-size: 5vmin;
    font-family: Mansalva;
    
}

section .main .main_text h1{
    font-size: clamp(24px, 7vw, 48px);
    margin: 10px 0;
}

section .main .main_image img{
    width: 700px;
    position: relative;
    left: 70px;
}

section .main .line{
    width: 150px;
    height: 5px;
    background: #e9802e;
    margin: 10px auto;
    border-radius: 4px;
    margin-left: 0;
}


.about {
    width: 100%;
    height: 85vh;
}

.about .Images {
    animation: rotate 10s linear infinite;
    user-select: none;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}



.about .about_main {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about .about_main .about_text h1 span {
    color: #5c5db0;
    margin-right: 15px;
}

.about .about_main .about_text h1 {
    font-size: 55px;
    position: relative;
    bottom: 20px;
    color: #e9802e;
}

.about .about_main .about_text h3 {
    font-size: 30px;
    font-family: Mansalva;
    color: #5c5db0;
}

.about_text .line {
    width: 200px;
    height: 5px;
    background: #e9802e;
    margin: 10px auto;
    border-radius: 4px;
    margin-left: 0;
    margin: 0 0 20px 0;
}

.about .about_main .about_text p {
    width: 650px;
    text-align: justify;
    margin-right: 30px;
    line-height: 22px;
    color: #5c5db0;
}

.wrapper {
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, #d9ebf7, #fff);
}


.container {
    height: 400px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
}

.card {
    width: 80px;
    border-radius: .75rem;
    background-size: cover;
    cursor: pointer;
    overflow: hidden;
    border-radius: 2rem;
    margin: 0 10px;
    display: flex;
    align-items: flex-end;
    transition: .6s cubic-bezier(.28,-0.03,0,.99);
    box-shadow: 0px 10px 30px -5px rgba(0,0,0,0.8);
}

.card > .rows {
    color: #fff;
    display: flex;
    flex-wrap: nowrap;
}

.card > .rows > .icons {
    background: #fff;
    color: #5c5db0;
    border-radius: 50%;
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

.card > .rows > .description {
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    height: 80px;
    width: 520px;
    opacity: 0;
    transform: translateY(30px);
    transition-delay: .3s;
    transition: all .3s ease;
}

.description p {
    color: #5c5db0;
    padding-top: 5px;
}

.description h4 {
    text-transform:  uppercase;
    color: #5c5db0;
}

input {
    display: none;
}

input:checked + label {
    width: 600px;
}

input:checked + label .description {
    opacity: 1 !important;
    transform: translateY(0) !important;
}

.card[for="c1"] {
    background-image:  url(./Images/1.jpg);
}

.card[for="c2"] {
    background-image:  url(./Images/2.jpg);
}

.card[for="c3"] {
    background-image:  url(./Images/3.png);
}

.card[for="c4"] {
    background-image:  url(./Images/4.jpg);
}

.card[for="c5"] {
    background-image:  url(./Images/5.jpg);
}


/*Gallary*/

.gallary{
    width: 100%;
    
}

.gallary h1{
    font-size: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #5c5db0;
}

.gallary h1 span{
    margin-left: 15px;
    color: #e9802e;
    font-family: mv boli;
}

.gallary h1 span::after{
    content: '';
    width: 100%;
    height: 2px;
    background: #e9802e;
    display: block;
    position: relative;
    bottom: 15px;
}

.gallary .gallary_image_box{
    width: 95%;
    margin: 10px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}

.gallary .gallary_image_box .gallary_image{
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
}

.gallary .gallary_image_box .gallary_image img{
    width: 100%;
    transition: .3s;
}

.gallary .gallary_image_box .gallary_image:hover img{
    opacity: 0.4;
}

.gallary .gallary_image_box .gallary_image h3{
    position: absolute;
    font-size: 35px;
    margin-bottom: 130px;
    color: #e9802e;
    font-family: polo;
    z-index: 5;
    opacity: 0;
    transition: 0.3s;
}

.gallary .gallary_image_box .gallary_image:hover h3{
    opacity: 1;
}

.gallary .gallary_image_box .gallary_image p{
    position: absolute;
    width: 400px;
    margin-top: 30px;
    text-align: center;
    color: white;
    line-height: 22px;
    opacity: 0;
    z-index: 5;
    transition: 0.3s;
}

.gallary .gallary_image_box .gallary_image:hover p{
    opacity: 1;
}

.gallary .gallary_image_box .gallary_image .gallary_btn{
    position: absolute;
    margin-top: 180px;
    color: #000;
    background: #e9802e;
    padding: 7px 25px;
    text-decoration: none;
    opacity: 0;
    transform: translateY(45px);
    z-index: 5;
    transition: 0.3s;
}

.gallary .gallary_image_box .gallary_image:hover .gallary_btn{
    opacity: 1;
    transform: translateY(0);
}

.review{
    width: 100%;
    height: 100vh;
    padding: 70px 0;
    margin-bottom: 80px;

}

.review h1{
    font-size: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #5c5db0;
}

.review h1 span{
    margin-left: 15px;
    color: #e9802e;
    font-family: Mansalva;
}

.review h1 span::after{
    content: '';
    width: 100%;
    height: 2px;
    background: #e9802e;
    position: relative;
    bottom: 15px;
    display: block;
}

.review .review_box{
    width: 95%;
    margin: 40px auto;
    display: flex;
}

.review .review_box .review_card{
    width: 350px;
    height: 500px;
    box-shadow: 0 2px 8px #d9ebf7;
    border-radius: 8px;
    padding: 8px 20px;
    margin: 0 8px;
    background-color: #d9ebf7;
}

.review .review_box .review_card .review_profile{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: 0.3s;
}

.review .review_box .review_card:hover .review_profile{
    transform: translateY(-60px);
}

.review .review_box .review_card .review_profile img{
    width: 180px;
    height: 180px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    border: 5px solid #d9ebf7;
}

.review .review_box .review_card .review_text{
    text-align: center;
}

.review .review_box .review_card .review_text .name{
    color: #5c5db0;
    transition: 0.3s;
}

.review .review_box .review_card:hover .review_text .name{
    transform: translateY(-50px);
}

.review .review_box .review_card .review_text .review_icon{
    color: #e9802e;
    transition: 0.3s;
}

.review .review_box .review_card:hover .review_text .review_icon{
    transform: translateY(-30px);
}

.review .review_box .review_card .review_text .review_social i{
    margin: 5px 1px;
    font-size: 15px;
    opacity: 0;
    cursor: pointer;
    transition: 0.3s;
}

.review .review_box .review_card:hover .review_text .review_social i{
    opacity: 1;
    transform: translateY(-8px);
    color: #5c5db0;
}

.review .review_box .review_card .review_text p{
    text-align: center;
    line-height: 22px;
    transition: 0.3s;
    color: #5c5db0;
}

.review .review_box .review_card:hover .review_text p{
    margin-top: 5px;
}



::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-thumb{
    border-radius: 15px;
    background-color: #5c5db0;
}

/*Footer*/

footer{
    width: 100%;
    padding: 30px 0 0 20px;
    background-color: #5c5db0;
    color: #fff;

}

footer .footer_main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    
}

footer .footer_main .footer_tag{
    text-align: center;
}

footer .footer_main .footer_tag h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 30px;
}

footer .footer_main .footer_tag p{
    margin: 10px 0;
    color: #fff;
}

footer .footer_main .footer_tag i{
    margin: 0 5px;
    cursor: pointer;
}

footer .footer_main .footer_tag i:hover{
    color: #e9802e;
}

footer .end{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    color: #fff;
}

footer .end span{
    color: #e9802e;
    margin-left: 10px;
}

